/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.matrix-box {
	margin-bottom: 30px;
	position: relative;
	.tbl-button {
		width: 24px;height: 24px;
		z-index: 8;
		position: absolute;
		top: 30px;
		left: 50dvw;
		margin-top: -12px;
		&.button-disabled {
			display: none;
		}
	}
	.tbl-button-next {
		left: auto;
		right: 10px;;
	}
	.tbl-outer-wrap {
		margin-left: 0;
    	margin-right: calc(var(--paddingContainer) * -1);
		padding-right: var(--paddingContainer);
		overflow-x: auto;
		overflow-y: hidden;
		scrollbar-width: none;
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}
	table {
		margin: 0 0 0 -5px;
		border-spacing: 5px 10px;
		border-collapse: separate;
		table-layout: fixed;
		.col-main, .col-header {
			width: calc(50dvw - var(--paddingContainer) - 3px);
		}
		th, td {
			padding: 0;
			vertical-align: top;
			text-align: left;
			font-weight: 400;
			font-size: 12px;
			line-height: 16px;
			color: var(--clr-base);
			letter-spacing: normal;
			&:first-child {
				position: sticky;
				left: 0;
				z-index: 5;
				.tbl-content {
					z-index: 4;
					position: relative;
				}
				&:before {
					z-index: 2;
				}
			}
		}
	}
	tbody {
		th, td {
			position: relative;
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				border-radius: 0 0 var(--mainRadius) var(--mainRadius);
				background: linear-gradient(96deg, #E6EAFF 4.96%, #E7F9FF 118.57%);
			}
		}
	}
	tr {
		&:nth-child(2n) {
			th, td {
				&:before {
					background: linear-gradient(270deg, #E9FFF9 0%, #CEFFF2 100%);
				}
			}
			.tbl-content {
				//background: linear-gradient(270deg, #E9FFF9 0%, #CEFFF2 100%);
			}
		}
		&:nth-child(3n) {
			th, td {
				&:before {
					background: linear-gradient(270deg, #FFFAF6 0%, #FFF3E9 100%);
				}
			}
			.tbl-content {
				//background: linear-gradient(270deg, #FFFAF6 0%, #FFF3E9 100%);
			}
		}
	}
	.thead-title {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 100%;
		min-height: 40px;
		padding: 5px 40px;
		font-size: 12px;
		line-height: 15px;
		font-weight: 600;
		border-radius: var(--mainRadius) var(--mainRadius) 0 0;
		background: linear-gradient(180deg, #FFF 0%, #F3F4F6 100%);
		box-shadow: 0 -6px 14px -6px rgba(24, 39, 75, 0.12);
		margin-bottom: -10px;
	}
	.tbl-content {
		height: 100%;
		padding: 15px 5px;
		position: relative;
		z-index: 3;
		//border-radius: 0 0 var(--mainRadius) var(--mainRadius);
		//background: linear-gradient(96deg, #E6EAFF 4.96%, #E7F9FF 118.57%);
		min-height: 100%;
	}
	.th-title {
		display: block;
		line-height: 1.35;
		font-weight: 400;
		margin: 0;
		.ftitle;
	}
	.td-element {
		display: block;
		position: relative;
		padding: 10px 5px;
		background: var(--clr-bg-white);
		border-radius: 12px;
		margin-bottom: 5px;;
		color: var(--clr-base);
		&:hover {
			color: var(--clr-base);
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	.td-title {
		display: block;
		margin: 0 0 5px 0;
		font-weight: bold;
		letter-spacing: -0.01em;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			display: block;
			&:not(:hover) {
				color: inherit;
			}
		}
	}
	.td-info {
		line-height: 1;
		color: var(--clr-base-light);
	}
}
.sections-slider-box {
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	border-radius: var(--smallRadius);
	background: var(--clr-bg-white);
	box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0 10px 32px -4px rgba(24, 39, 75, 0.10);
	.slider-wrap {
		margin: 0 -15px;
		overflow: visible;
	}
	.sl-wrap {
		padding: 0 15px;
	}
	.section-inner-wrap {
		border-radius: 0;
		box-shadow: none;
		background: none;
		.section-title {
			padding: 0 30px;;
			width: 100%;
			text-align: center;
		}
	}
	.button-slider {
		width: 24px;height: 24px;
		position: absolute;
		top: 20px;left: 15px;
		margin: 0;
	}
	.button-slider-next {
		left: auto;
		right: 15px;
	}
}
.title-inner-box {
	margin-bottom: var(--mbsize);
	.section-title {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.35;
		.ftitle;
	}
}
.search-box {
	margin-bottom: var(--mbsize);
}
.tiles-slider-box {
	margin-bottom: 30px;
	position: relative;
	.title-inner-wrap {
		margin-bottom: var(--mbsize);
	}
	.slider-wrap {
		margin: 0 -15px;
		overflow: visible;
	}
	.sl-wrap {
		padding: 0 15px;
	}
	.section-title {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.35;
		.ftitle;
	}
	.button-slider {
		position: absolute;
		top: 0;
		left: 0;
		width: 24px;height: 24px;
	}
	.button-slider-next {
		left: auto;
		right: 0;
	}
}
.result-box {
	margin-bottom: var(--mbsize);
	position: relative;
	border-radius: var(--mainRadius);
	background: var(--clr-bg-white);
	.total-inner-wrap {
	}
	.scheme-inner-wrap {
		margin: 0 auto;
		max-width: 700px;
	}
	.frm-row {
		margin: 0 -15px;
		&>.field-title {
			padding: 0 15px;
		}
	}
	.frm-field {
		margin-bottom: 15px;
		padding: 0 15px;
		width: 100%;
	}
	.field-half {
		width: 50%;
	}
	.field-title {
		margin-bottom: 5px;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: -0.01em;
		font-weight: 400;
		color: var(--clr-base-light);
	}
	.form-inner-wrap {
		margin-top: var(--mbsize);
		&:first-child {
			margin-top: 0;
		}
	}
	.section-title {
		font-size: 18px;
		line-height: 1.35;
		font-weight: 500;
		.ftitle;
	}
	.frm-select {
		margin-bottom: 10px;
		color: var(--clr-base-light);
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.form-content-box {
	margin-bottom: var(--mbsize);
	border-radius: var(--mainRadius);
	background: var(--clr-bg-white);
	box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0 10px 32px -4px rgba(24, 39, 75, 0.10);
	padding: 20px 15px;
	&.form-main {
		padding: 15px 30px;
	}
	.form-bottom-wrap {
		.frm-row-submit {
			margin: 0 -5px;
			gap: 10px 0;
		}
		.frm-field {
			padding: 0 5px;
			margin: 0;
			width: auto;
		}
	}
	.title-inner-wrap {
		margin-bottom: 15px;
		font-size: 16px;
		line-height: 1.45;
		p {
			margin-bottom: 5px;
		}
		b {
			font-weight: 600;
		}
	}
	.section-title {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.35;
		margin: 0 0 5px 0;
		.ftitle;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.title-inner {
		font-weight: 400;
	}
	.row-vs {
		align-items: stretch;
		.frm-field {
			width: 50%;
			min-height: 100%;
			&:nth-child(2n+1) {
				padding-right: 23px;
				&:before {
					content: "";
					display: block;
					width: 26px;
					height: 32px;
					position: absolute;
					background: url(../img/icons/vs.svg) center no-repeat;
					background-size: 100% auto;
					top: 50%;left: 100%;
					margin-left: -13px;
					margin-top: -16px;
				}
			}
			&:nth-child(2n) {
				padding-left: 23px;
			}
		}
	}
	.btn {
		height: 38px;
		min-width: 107px;
		padding: 0 14px;
		border-radius: var(--mediumRadius);
		font-size: 14px;
		font-weight: bold;
		letter-spacing: -0.01em;
		.ftext;
		&.button-form-main {
			min-width: 125px;
			height: 46px;
		}
	}
	.frm-row {
		margin: 0 -8px;
	}
	.frm-field {
		padding: 0 8px;
		margin-bottom: 15px;
		width: 100%;
	}
	.field-title {
		font-size: 16px;
		font-weight: 600;
		line-height: 30px;
		margin: 0 0 5px 0;
		display: block;
	}
	.form-input {
		font-size: 18px;
		line-height: 1.45;
		font-weight: 400;
		letter-spacing: normal;
		height: 56px;
		padding: 0 14px;
		border-radius: var(--mediumRadius);
		.ftext;
	}
	textarea.form-input {
		height: 130px;
		font-size: 14px;
		padding-top: 15px;
		&.textarea-form-main {
			font-size: 18px;
			height: auto;
			min-height: 56px;
		}
	}
}
.tiles-gallery-box {
	margin-bottom: var(--mbsize);
	padding: 15px;
	border-radius: 12px;
	background: var(--clr-bg-white);
	position: relative;
	.title-inner-wrap {
		margin-bottom: 15px;
	}
	.items-wrap {
		margin: 0 -8px;
		gap: 15px 0;
	}
	.item-wrap {
		padding: 0 8px;
		width: 100%;
		max-width: calc(100% - 151px);
		&:nth-child(1) {
			&~.item-wrap {
				display: none;
				&.wrap-all {
					display: block;
				}
			}
		}
	}
	.wrap-all {
		width: 151px;
	}
	.wrap-video {
		display: none !important;
	}
	.section-title {
		font-size: 18px;
		line-height: 1;
		font-weight: 400;
		margin: 0;
		.ftitle;
	}
	.elm-photo {
		aspect-ratio: inherit;
		height: 160px;
		border-radius: 12px;
	}
}
.tiles-steps-wrap {
	margin-bottom: var(--mbsize);
	.items-wrap {
		gap: 15px 0;
		margin: 0 -1.5rem;
	}
	.item-wrap {
		padding: 0 1.5rem;
		width: 100%;
	}
}
.tiles-total-box {
	border-radius: var(--mainRadius);
	background: var(--clr-bg-white);
	padding: 15px;
	margin-bottom: var(--mbsize);
	.title-inner-wrap {
		margin-bottom: 15px;
	}
	.section-title {
		font-weight: 400;
	}
	.items-wrap {
		gap: 15px 0;
		margin: 0 -1.5rem;
	}
	.item-wrap {
		padding: 0 1.5rem;
		width: 100%;
	}
}
.article-box {
	margin-bottom: var(--mbsize);
	.item-tile-video {
		margin-bottom: var(--mbsize);
	}
}
.menu-box {
	margin-bottom: var(--mbsize);
	font-size: 14px;
	font-weight: 600;
	background: var(--clr-bg-white);
	padding: 3px 5px;
	border-radius: 30px;
	white-space: nowrap;
	line-height: 1;
	display: flex;
	align-items: center;
	&.menu-inline {
		display: inline-flex;
		max-width: 100%;
	}
	.menu-inner-wrap {
		flex: 1;
		padding: 3px 8px;
		background: var(--clr-base-light);
		border-radius: 30px;
	}
	.title-inner-wrap {
		flex-shrink: 0;
	}
	.menu {
		display: flex;
		flex-wrap: wrap;
		li {
			position: relative;
		}
	}
	.menu-more {
		margin-left: auto;
		&:hover {
			.menu-more-ul {
				display: block;
			}
		}
		&:has(.menu-more-ul:empty) {
			opacity: 0;
			pointer-events: none;
		}
	}
	.menu-more-ul {
		display: none;
		animation: fadein ease 0.2s;
		width: 240px;
		position: absolute;
		top: 100%;right: 0;
		list-style-type: none;
		padding: 20px 0 10px 0;
		z-index: 30;
		overflow: visible;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 10px;
			bottom: 0;
			left: 0;
			right: 0;
			border-radius: var(--mediumRadius);
			background: var(--clr-bg-white);
			box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0 10px 32px -4px rgba(24, 39, 75, 0.10);
		}
		li {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		.btn {
			height: auto;
			padding: 10px 10px;
			text-align: center;
			display: block;
			white-space: normal;
			color: var(--clr-base);
			border-radius: 0;
			background: none;
			font-weight: 400;
		}
	}
	.section-title, .btn {
		flex-shrink: 0;
		font-size: 1em;
		line-height: inherit;
		font-weight: inherit;
		line-height: 1.2;
		padding: 0 20px;
		.ftext;
	}
	.section-title {
		color: var(--clr-att);
	}
	.btn {
		height: 33px;
		padding: 0 20px;
		border: none;
		color: var(--clr-base-white);
		border-radius: 24px;;
		background: none;
		&:hover, &.active {
			background-color: #F0FBFF;
			color: var(--clr-att);
		}
		&:has(.button-ico:only-child) {
			aspect-ratio: inherit;
			width: 75px;
		}
		.button-ico {
			filter: none;
		}
	}
}
.side-nav-box {
	margin-bottom: var(--mbsize);
	.title-inner-wrap {
		margin: 13px 0;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	.side-title {
		display: block;
		font-size: 16px;
		font-weight: 600;
		margin: 0;
		line-height: 30px;
		.ftext;
	}
	.items-wrap {
		margin: 0;
		gap: 10px 0;
	}
	.item-wrap {
		width: 100%;
		padding: 0;
		margin: 0;
	}
}
.video-content-box {
	margin-bottom: var(--mbsize);
	.items-inner-wrap {
		margin-bottom: var(--mbsize);
	}
	.items-wrap {
		gap: 15px 0;
	}
}
.video-box {
	margin-bottom: var(--mbsize);
	display: block;
	position: relative;
	border-radius: 12px;
	padding: 15px;
	background: var(--clr-bg-white);
	box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0 10px 32px -4px rgba(24, 39, 75, 0.10);
	&:last-child {
		margin-bottom: 0;
	}
	.video-title-wrap {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		gap: 8px;
		.elm-ico {
			width: 24px;height: 24px;	
			flex-shrink: 0;
			filter: var(--filterAttToLight);
		}
	}
	.video-subtitle {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: -0.01em;
		font-weight: 400;
		margin: 0;
	}
	.video-title {
		font-size: 16px;
		line-height: 1.45;
		font-weight: 500;
		margin: 0;
	}
}
.chat-box {
	margin-bottom: var(--mbsize);
	border-radius: 12px;
	background: var(--clr-bg-white);
	box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0 10px 32px -4px rgba(24, 39, 75, 0.10);
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 30px;
	padding: 15px;
	.chat-title-wrap {
		display: flex;
		align-items: center;
		gap: 10px;
		.action-wrap {
			flex-shrink: 0;
		}
		.btn {
			height: 42px;
			border-radius: var(--mediumRadius);
			padding: 0 14px;
			font-size: 14px;
			font-weight: 600;
			.ftext;
		}
	}
	.chat-title {
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		margin: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
.select-box {
	padding: 15px;
	border-radius: 12px;
	background: #fff;
	margin-bottom: 15px;
	box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0 10px 32px -4px rgba(24, 39, 75, 0.10);
	.select-title-wrap {
		margin-bottom: 15px;
		display: flex;
		align-items: center;
		min-height: 40px;
		gap: 4px;
		.elm-ico {
			width: 24px;height: 24px;
		}
		.select-title {
			font-size: 16px;
			font-weight: 500;
			line-height: 1.45;
			.ftext;
		}
	}
	.list {
		display: flex;
		flex-wrap: wrap;
		gap: 0;
		li {
			flex-shrink: 0;
		}
	}
}
.title-box {
	margin-bottom: var(--mbsize);
	font-size: 16x;
	line-height: 1.55;
	color: var(--clr-base-light);
	.title-user-wrap {
		padding-top: 15px;
		.elm-photo {
			margin: 0 auto 15px auto;;
			width: 56px;height: 56px;
			aspect-ratio: 1;
			border: 1px solid var(--clr-base-light);
			border-radius: 50%;
		}
		.section-title {
			text-align: center;
			margin: 0;
			width: 100%;
		}
	}
	.user-actions-wrap {
		margin: 15px 0 0 0;
		display: flex;
		justify-content: center;
		gap: 5px 15px;
		flex-wrap: wrap;
		padding-bottom: 15px;
		.btn.button-small {
			height: 34px;
			padding: 0 14px;
			font-size: 14px;
			font-weight: 600;
			border-radius: 30px;
			letter-spacing: normal;
			.ftext;
		}
	}
	&:has(.title-info-wrap) {
		p, .section-title {
			margin-bottom: 8px;
		}
	}
	.section-title {
		margin-bottom: 10px;
		margin-top: 0;
		color: var(--clr-base);
		&:last-child {
			margin-bottom: 0;
		}
	}
	.back-wrap {
		margin-bottom: var(--mbsize);
		.btn {
			height: 28px;
			padding: 0 11px;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: -0.01em;
		}
	}
	.title-actions-wrap {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
		margin: 8px 0 0 0;
		.btn {
			flex-shrink: 0;
		}
	}
	.title-info-wrap {
		display: flex;
		flex-wrap: wrap;
		gap: 8px 15px;
		font-size: 18px;
		line-height: (30/18);
		justify-content: space-between;
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.title-info {
		flex-shrink: 0;
		max-width: 100%;
	}
	p {
		margin-bottom: 15px;
	}
	.elm-panel-progress, .elm-panel-title {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.tabs-box {
	margin-bottom: var(--mbsize);
	.menu {
		display: inline-flex;
		max-width: 100%;
		background: #fff;
		border-radius: 50px;
		padding: 3px 5px;
		li {
			flex-basis: auto;
			flex-grow: 1;
		}
	}
	.action-wrap {
		margin: 15px 0 0 0;
		.btn {
			height: 38px;
			padding: 0 19px;
			font-size: 14px;
			font-weight: 600;
			letter-spacing: normal;
			border-radius: 30px;
			.ftext;
		}
	}
	.actions-wrap {
		display: flex;
		flex-wrap: wrap;
		margin: 15px 0 0 0;
		gap: 5px 15px;
		.btn {
			height: 36px;
			padding: 0 19px;
			border-radius: 20px;
			font-size: 14px;
			font-weight: 600;
			letter-spacing: normal;
			.ftext;
		}
	}
}
.form-box {
	&:has(.form-input.inp-error, .form-input:user-invalid) {
		.field-error {
			display: block;
		}
	}
	.frm-section-wrap {
		.frm-row {
			&:last-child {
				margin-bottom: 0;
			}
		}
		.frm-field {
			width: 100%;
		}
	}
	.frm-content {
		&.active {
			padding-top: 15px;
			&:last-child {
				margin-bottom: -15px;
			}
		}
		.frm-row {
		}
	}
	.frm-select, .frm-field-input {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.frm-row {
		&:last-child {
			margin-bottom: -10px;
		}
	}
	.frm-row-submit {
		padding-top: 5px;
		.btn {
			width: 100%;
			height: 55px;
			font-size: 18px;
			font-weight: 600;
			border-radius: var(--mainRadius);
		}
		.frm-field {
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.field-submit {
			margin-bottom: 0;
		}
	}
	.field-error {
		display: none;
		text-align: center;
		margin: 15px 0 0 0;
	}
	.field-info {
		color: var(--clr-base-light);
	}
	.field-link {
		text-align: center;
		font-size: 18px;
		line-height: 1.45;
	}
	.row-download {
		.btn {
			width: 100%;
			height: auto;
			padding: 12px 24px;
			font-size: 14px;
			line-height: 1.2;
			font-weight: 600;
			min-height: 54px;
			border-radius: var(--mediumRadius);
			gap: 10px;
			white-space: normal;
			text-align: left;
			.ftext;
			.button-ico {
				width: 38px;
				height: 27px;
			}
		}
	}
	.row-add {
		text-align: center;
		padding-top: 5px;
		.btn {
			height: 46px;
			padding: 0 24px;
			font-size: 16px;
			font-weight: 600;
			.ftext;
		}
	}
	.row-file {
		.field-title {
			margin-bottom: 15px;
		}
	}
	&.section-clear {
		.frm-row-submit {
			padding: 0;
		}
	}
	.frm-field {
		&:has(.field-snils) {
			max-width: 252px;
		}
	}
	.field-half-m {
		width: 50%;
	}
	.frm-field-upload-small {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.tiles-box {
	margin-bottom: 30px;
	.columns-wrap {
		display: flex;
		flex-direction: column;
		gap: 30px;
		.item-wrap {
			width: 100%;
		}
		.slider-wrap {
			margin: 0 -15px;
			overflow: visible;
		}
		.sl-wrap {
			padding: 0 15px;
		}
	}
	.column-wrap {
		width: 100%;
		flex-shrink: 0;
		border-radius: var(--mainRadius);
		background: #F3F4F6;
		box-shadow: 0 -6px 14px -6px rgba(24, 39, 75, 0.12);
		overflow: hidden;
	}
	.column-title-wrap {
		background: linear-gradient(180deg, #FFF 0%, #F3F4F6 100%);
		box-shadow: 0 -6px 14px -6px rgba(24, 39, 75, 0.12);
		position: relative;
		z-index: 2;
		padding: 12px 15px;
	}
	.column-content-wrap {
		padding: 15px;
	}
	.column-title {
		display: block;
		text-align: center;
		font-size: 18px;
		line-height: 1.35;
		font-weight: 500;
		margin: 0;
		letter-spacing: normal;
		.ftitle;
	}
	.actions-inner-wrap {
		margin-bottom: var(--mbsize);
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
		.btn {
			flex-shrink: 0;
			height: 42px;
			padding: 0 19px;
			font-size: 16px;
			font-weight: 600;
			letter-spacing: normal;
			border-radius: 30px;
			.ftext;
		}
	}
	.item-wrap {
		width: 50%;
		&.wrap-full {
			width: 100%;
		}
	}
	.items-col-3, .items-col-2 {
		.item-wrap {
			width: 100%;
		}
	}
}
.profile-box {
	text-align: center;
	.profile-header-wrap {
		text-align: center;
		margin-bottom: 12px;
	}
	.photo-inner-wrap {
		width: 120px;
		margin: 0 auto 15px auto;
	}
	.profile-title {
		font-size: 18px;
		line-height: 1;
		color: var(--clr-base);
		font-weight: 400;
		margin: 0 0 10px 0;
		.ftitle;
	}
	.profile-info {
		font-size: 16px;
		line-height: 1.45;
		font-weight: 500;
		color: var(--clr-base-light);
	}
	.elm-photo {
		border-radius: var(--mainRadius);
	}
	.info-wrap {
		margin-bottom: 12px;
	}
	.action-wrap {
		padding-top: 5px;
	}
	.frm-field-input {
		.choices__item--selectable {
			font-weight: 500;
			font-size: 16px;
		}
	}
}
.legends-box {
	margin-bottom: 15px;
	&.type-second {
		.list {
			justify-content: space-between;
		}
	}
	&.type-main {
		.list {
			gap: 5px 30px;
			justify-content: flex-start;
			li {
				width: auto;
				flex-shrink: 0;
			}
		}
		.elm-legend {
			font-size: 14px;
			font-weight: 600;
			gap: 15px;
			.elm-ico {
				width: 40px;height: 40px;
				img, svg {
					width: 100% !important;
					height: 100% !important;
				}
			}
		}
	}
	.list {
		display: flex;
		gap: 15px 26px;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		li {
			width: auto;
			flex-shrink: 0;
		}
	}
}
.sections-title-box {
	text-align: center;
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 1.45;
	.section-title {
		font-size: 24px;
		font-weight: 500;
		line-height: 1.35;
		margin: 0 0 15px 0;
		.ftitle;
		&:last-child {
			margin-bottom: 0;
		}
	}
	p, .elm-panel-info {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.sections-box {
	margin-bottom: 30px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.section-outer-wrap {
	width: 100%;
	flex-shrink: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.section-inner-wrap {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	border-radius: var(--smallRadius);
	padding: 20px 15px;
	box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0 10px 32px -4px rgba(24, 39, 75, 0.10);
	background: var(--clr-bg-white);
	flex-shrink: 0;
	.sections-slider-box {
		border-radius: 0;
		box-shadow: none;
		background: none;
		margin: 0;
		.button-slider {
			left: 0;
		}
		.button-slider-next {
			left: auto;
			right: 0;
		}
		.section-inner-wrap {
			box-shadow: none;
			border-radius: 0;
			padding: 0;
		}
	}
	&:has(.slider-tiles) {
		overflow: hidden;
		.slider-tiles {
			.slider-wrap {
				overflow: visible;
			}
		}
	}
	&.section-clear {
		padding: 0;
		border-radius: 0;
		background: none;
		box-shadow: none;
		
	}
	&.section-form-content {
		border-radius: var(--mainRadius);
		margin-bottom: 8rem;
	}
	&.section-form-inner {
		border-radius: var(--mainRadius);
	}
	&:has(.legends-box) {
		.section-content-wrap {
			flex: 0 0 auto;
		}
		.section-title-wrap {
			flex: 1;
		}
	}
	&.section-main {
		border-radius: var(--mainRadius);
	}
	&.section-data {
		border-radius: var(--mainRadius);
	}
	.section-filter-wrap {
		margin-bottom: 20px;
		.frm-row {
			gap: 10px 0;
			margin: 0 -5px;
		}
		.frm-field {
			width: 100%;
			margin: 0;
			padding: 0 5px;
		}
		.field-title {
			font-size: 18px;
			line-height: 1.45;
			font-weight: 400;
			color: var(--clr-base-light);
		}
	}
	.filter-small {
		.field-title {
			font-size: 16px;
			line-height: 1.45;
			font-weight: 500;
			color: var(--clr-base);
			.ftitle;
		}
		.form-input {
			height: 40px;
			border-radius: var(--mediumRadius);
			font-size: 16px;
			line-height: 1.45;
		}
		.choices__inner {
			height: 40px;
			font-size: 16px;
			line-height: 1.45;
		}
		.btn {
			height: 40px;
			font-size: 18px;
			line-height: 1.45;
			font-weight: 400;
			.ftext;
		}
	}
	.items-wrap {
		&:has(.item-tile-article) {
			gap: 15px 0;
			margin: 0 -8px;
			.item-wrap {
				padding: 0 8px;
				width: 50%;
			}
		}
	}
	.slider-wrap {
		margin: 0 -8px;
	}
	.slider-actions-wrap {
		padding: 0 8px;
	}
	.sl-wrap {
		padding: 0 8px;
		width: 50%;
	}
	.section-title-wrap {
		margin-bottom: 15px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px;
		flex-shrink: 0;
		width: 100%;
		&:has(.button-title-wrap) {
			flex-wrap: nowrap;
			.section-title {
				flex: 1;
				width: auto;
			}
		}
		&:has(.elm-sticker) {
			flex-wrap: wrap;
			align-items: center;
			.button-title-wrap {
				flex: 1;
				display: flex;
				justify-content: flex-end;
				width: auto;
			}
		}
		&:last-child {
			margin-bottom: 0 !important;
		}
		&.title-border {
			position: relative;
			padding-bottom: 15px;
			&:before {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				left: -15px;
				right: -15px;
				background: #E5E5E5;
				height: 1px;
			}
		}
		.elm-sticker {
			vertical-align: middle;
			flex-shrink: 0;
			font-weight: 400;
			height: 29px;
			padding: 0 30px;
			font-size: 12px;
			font-weight: 400;
			line-height: 29px;
			.ftitle;
		}
	}
	.button-title-wrap {
		flex-shrink: 0;
		.btn-action-ico, .btn {
			padding: 0;
			width: 24px;height: 24px;
		}
	}
	.section-actions-wrap {
		width: 100%;
		flex-shrink: 0;
		.btn.button-all {
			height: 38px;
			padding: 0 14px;
			border-radius: var(--mediumRadius);
			font-size: 14px;
			letter-spacing: -0.01em;
			font-weight: bold;
			.ftext;
		}
	}
	.section-content-wrap {
		flex: 1;
	}
	.section-content-inner {
		margin-bottom: 24px;
		&:last-child {
			margin: 0;
		}
	}
	.section-title-inner {
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;
		margin: 24px 0 18px 0;
		.ftitle;
		&:first-child {
			margin-top: 0;
		}
	}
	.action-title-wrap, .section-actions-wrap {
		color: var(--clr-att);
		font-size: 14px;
		font-weight: 600;
		.button-link {
			&:hover {
				color: var(--clr-att-second);
			}
			.button-title-border {
				display: inline;
				margin-right: -2px;
			}
		}
		.button-border {
			height: 46px;
			font-size: 16px;
			font-weight: 600;
			.ftext;
		}
	}
	.section-actions-wrap {
		margin: 15px 0 0 0;
	}
	.section-title {
		font-size: 18px;
		line-height: 1;
		font-weight: 400;
		margin: 0;
		width: 100%;
		flex-shrink: 0;
		.ftitle;
		&.title-main {
			font-size: 24px;
			font-weight: 500;
			line-height: 1.35;
		}
		&.title-large {
			font-weight: bold;
		}
		.elm-ico {
			height: 24px;
			width: auto;
			display: inline-block;
			vertical-align: middle;
			margin: -2px 8px 0 0;
			img, svg {
				width: auto;
				max-width: inherit;
				height: 100%;
				display: block;
				position: relative;
				top: auto;
				bottom: auto;
				left: auto;
				right: auto;
			}
		}
	}
	.menu {
		display: flex;
		flex-direction: column;
		gap: 15px;
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
		li {
			width: 100%;
		}
		.btn {
			width: 100%;
			font-size: 14px;
			font-weight: 400;
			.ftitle;
		}
	}
}
.bg-full-wrap {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	width: 100dvw;
	min-width: var(--min);
	transform: translateX(-50%);
	overflow: hidden;
}
.bg-box {
	position: relative;
	z-index: 2;
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 100dvw;
		min-width: var(--min);
		transform: translateX(-50%);
		overflow: hidden;
		background: var(--clr-bg-light);
	}
	&>*:last-child {
		margin-bottom: 0;
	}
}
.more-inner-wrap {
	margin-top: 15px;
	text-align: center;
	.btn {
		height: 38px;
		border-radius: var(--mediumRadius);
		padding: 0 14px;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: -0.01em;
		.ftext;
	}
	&.text-left {
		text-align: left;
	}
}
@media (max-width: 1399px) {
	.section-outer-wrap {
		gap: 15px;
	}
}
@media (max-width: 1023px) {
	.section-outer-wrap {
		padding: 20px 15px;
		background: var(--clr-bg-white);
		display: flex;
		flex-direction: column;
		gap: 15px;
		border-radius: var(--smallRadius);
		box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0 10px 32px -4px rgba(24, 39, 75, 0.10);
		.section-inner-wrap {
			border: 1px solid #F5F5F5;
			box-shadow: none;
			border-radius: var(--mainRadius);
		}
	}
	.section-inner-wrap {
		&.section-form-content {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}
@media (max-width: 767px) {
	.form-content-box {
		.row-vs {
			.frm-select-main {
				min-height: 100%;
				display: flex;
				flex-direction: column;
				label {
					width: 100%;
					flex: 1;
					padding: 39px 10px 31px 10px;
					text-align: center;
					min-height: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					overflow: hidden;
					&:before {
						top: 22px;left: 50%;
					}
				}
				.lbl-button {
					bottom: 18px;left: 50%;
					top: auto;
					margin: 0 0 -16px -16px;
					width: 32px;height: 32px;
				}
			}
		}
	}
	.section-inner-wrap {
		.section-title-wrap {
			.search-title-wrap {
				width: 100%;
			}
			&:has(.elm-sticker) {
				.section-title {
					width: 100%;
					flex: 0 0 100%;
				}
				.button-title-wrap {
					
				}
			}
		}
	}
}
@media (max-width: 419px) {
	.form-content-box .row-vs .frm-select-main label {
		font-size: 14px;
	}
	.section-inner-wrap {
		.items-wrap {
			&:has(.item-tile-article) {
				.item-wrap {
					width: 100%;
				}
			}
		}
		.sl-wrap {
			width: 100%;
		}
	}
	.tiles-box {
		.item-wrap {
			width: 100%;
		}
	}
}
@media (min-width: 480px) {
	.matrix-box {
		.tbl-button-prev {
			left: 240px;
		}
		table {
			.col-main, .col-header {
				width: 222px;
			}
		}
	}
}
@media (min-width: 420px) and (max-width: 767px) {
	.section-inner-wrap {
		&.section-form-content {
			margin-left: 10px;
			margin-right: 10px;
			width: calc(100% - 20px);
		}
	}
}
@media (min-width: 480px) {
	.tiles-gallery-box {
		.item-wrap {
			max-width: inherit;
			width: 50%;
		}
	}
}
@media (min-width: 640px) {
	.tiles-gallery-box {
		.item-wrap {
			width: 33.33%;
			&:nth-child(2) {
				display: block !important;
			}
		}
	}
}
@media (min-width: 768px) {
	.sections-slider-box {
		border-radius: 0;
		background: none;
		box-shadow: none;
		margin: 20px 0 30px 0;
		overflow: visible;
		&:first-child {
			margin-top: 0;
		}
		.section-inner-wrap {
			border-radius: var(--smallRadius);
			background: var(--clr-bg-white);
			min-height: 100%;
			display: block;
			box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0 10px 32px -4px rgba(24, 39, 75, 0.10);
			.section-title {
				padding: 0;
				text-align: left;
			}
		}
		.slider-wrap {
			margin: 0;
		}
		.slider {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -8px;
			gap: 30px 0;
			width: calc(100% + 16px);
			transform: none !important;
			height: auto !important;
		}
		.sl-wrap {
			width: 50% !important;
			height: auto;
			padding: 0 8px;
		}
		.swiper-slide:not(.swiper-slide-active) {
			opacity: 1;
			pointer-events: auto;
		}
		.button-slider {
			display: none;
		}
	}
	.title-inner-box {
		.section-title {
			font-size: 28px;
		}
	}
	.tiles-slider-box {
		.section-title {
			font-size: 28px;
		}
		.slider-wrap {
			margin: 0;
		}
		.slider {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -15px;
			gap: 30px 0;
			width: calc(100% + 30px);
			transform: none !important;
			height: auto !important;
		}
		.sl-wrap {
			width: 50% !important;
			padding: 0 15px;
		}
		.swiper-slide:not(.swiper-slide-active) {
			opacity: 1;
			pointer-events: auto;
		}
		.button-slider {
			display: none;
		}
	}
	.legends-box {
		&.type-main {
			.list {
				justify-content: center;
			}
			.elm-legend {
				font-size: 16px;
			}
		}
	}
	.form-content-box {
		.form-bottom-wrap {
			.frm-row-submit {
				margin: 0 -15px;
			}
			.frm-field {
				padding: 0 15px;
			}
		}
		.btn {
			min-width: 125px;
		}
		textarea.form-input {
			font-size: 18px;
		}
		.row-vs {
			.frm-field {
				&:nth-child(2n+1) {
					padding-right: 42px;
				}
				&:nth-child(2n) {
					padding-left: 42px;
				}
			}
		}
	}
	.tiles-gallery-box {

	}
	.tiles-steps-wrap {
		.item-wrap {
			width: 50%;
		}
	}
	.tiles-total-box {
		.title-inner-wrap {
			margin-bottom: 30px;
		}
		.items-wrap {
			gap: 30px 0;
		}
		.item-wrap {
			width: 50%;
		}
	}
	.chat-box {
		.chat-title-wrap {
			.btn {
				height: 52px;
				padding: 0 30px;
				font-size: 16px;
			}
		}
	}
	.tabs-box {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 15px;
		justify-content: space-between;
		.action-wrap {
			margin: 0;
			flex-shrink: 0;
			.btn {
				height: 52px;
				font-size: 16px;
			}
		}
		.actions-wrap {
			width: 100%;
			margin: 0;
			flex-shrink: 0;
			.btn {
				height: 42px;
				font-size: 16px;
			}
		}
	}
	.form-box {
		.row-user {
			padding-bottom: 25px;
		}
		.frm-sections-wrap {
			display: flex;
			margin: 0 -15px;
		}
		.frm-section-wrap {
			padding: 0 15px;
			margin: 0;
			width: 50%;
			flex-shrink: 0;
		}
		.row-file {
			.field-title {
				text-align: center;
			}
		}
		.field-half {
			width: 50%;
		}
		.row-add {
			text-align: left;
			.btn {
				height: 54px;
			}
		}
		.frm-row {
			&:has(.field-snils) {
				flex-wrap: nowrap;
				.frm-field {
					width: 257px;
					flex-shrink: 0;
					&:first-child {
						width: auto;
						flex: 1;
					}
				}
			}
		}
	}
	.tiles-box {
		.columns-wrap {
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-start;
			.slider-actions-wrap, .button-slider {
				display: none;
			}
			.slider-wrap {
				margin: 0;
			}
			.slider {
				display: flex;
				flex-wrap: wrap;
				margin: 0 -15px;
				gap: 24px 0;
				width: calc(100% + 30px);
				transform: none !important;
				height: auto !important;
			}
			.sl-wrap {
				width: 100% !important;
				padding: 0 15px;
			}
			.swiper-slide:not(.swiper-slide-active) {
				opacity: 1;
				pointer-events: auto;
			}
		}
		.column-wrap {
			width: calc(50% - 15px);
		}
		.column-content-wrap {
			padding: 24px 15px 15px 15px;
		}
		.column-title-wrap {
			padding: 15px;
		}
		.column-title {
			font-size: 24px;
		}
		.item-wrap {
			width: 25%;
		}
		.items-col-3, .items-col-2 {
			.item-wrap {
				width: 50%;
			}
		}
	}
	.profile-box {
		.profile-header-wrap {
			margin-bottom: 15px;
			display: flex;
			align-items: center;
			gap: 30px;
			text-align: left;
		}
		.profile-info-wrap {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 10px 30px;
			margin: 0;
			font-weight: 500;
		}
		.photo-inner-wrap {
			margin: 0;
			flex-shrink: 0;
		}
		.info-inner-wrap {
			flex: 1;
		}
		.profile-title {
			br {
				display: none;
			}
		}
		.profile-info {
			font-weight: 400;
		}
		.info-wrap {
			margin: 0;
			width: auto;
			max-width: 100%;
			flex-shrink: 0;
		}
		.action-wrap {
			padding: 0;
			flex: 1;
			text-align: right;
		}
	}
	.section-inner-wrap.section-col-2 {
		.item-wrap {
			width: 50%;
			&.wrap-full {
				width: 100%;
			}
		}
	}
	.section-inner-wrap {
		.sections-slider-box {
			.section-inner-wrap {
				border-radius: var(--mainRadius);
				border: 1px solid #f5f5f5;
				padding: 15px;
				overflow: hidden;
			}
		}
		&.section-form-content {
			padding: 30px;
		}
		&.section-form-inner {
			padding: 30px 15px;
		}
		&.section-data {
			padding: 30px;
		}
		.slider-tiles {
			.slider-wrap {
				margin: 0;
			}
			.slider {
				display: flex;
				flex-wrap: wrap;
				margin: 0 -12px;
				gap: 15px 0;
				width: calc(100% + 24px);
				transform: none !important;
				height: auto !important;
			}
			.sl-wrap {
				width: 50% !important;
				height: auto;
				padding: 0 12px;
			}
			.swiper-slide:not(.swiper-slide-active) {
				opacity: 1;
				pointer-events: auto;
			}
			.button-slider {
				display: none;
			}
		}
		.section-title {
			width: auto;
			flex: 1;
		}
		.section-filter-wrap {
			margin-bottom: 30px;
			margin-top: 15px;
			&.filter-small {
				.frm-field {
					width: 50%;
					&.field-small {
						width: auto;
						flex: 0 0 auto;
						min-width: 160px;
					}
				}
				.field-title {
					width: 100%;
					flex-shrink: 0;
				}
			}
			&:first-child {
				margin-top: 0;
			}
			.frm-field {
				width: 260px;
			}
			.field-title {
				width: auto;
				flex-shrink: 0;
				align-self: center;
			}
		}
		.section-content-wrap {
			&:has(.section-content-inner) {
				display: flex;
				margin: 0 -5px;
				.section-content-inner {
					margin: 0;
					width: 50%;
					padding: 0 5px;
				}
			}
		}
		.search-title-wrap {
			width: 72%;
		}
		.section-title-wrap {
			&:has(.elm-sticker) {
				.section-title {
					flex: 0 0 auto;
				}
			}
		}
		.item-wrap {
			width: 50%;
		}
		.items-wrap {
			&:has(.item-tile-article) {
				.item-wrap {
					width: 33.33%;
				}
			}
		}
		.sl-wrap {
			width: 33.33%;
		}
	}
	.section-col-2-3 {
		width: calc(50% - 5px);
	}
}
@media (min-width: 1024px) {
	.matrix-box {
		.tbl-button-prev {
			left: 210px;
		}
		.tbl-button-next {
			right: 20px;
		}
		table {
			.col-header {
				width: 191px;
			}
			.col-main {
				width: auto;
				min-width: 191px;
			}
		}
		.thead-title {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.title-box {
		.title-user-wrap {
			display: flex;
			align-items: center;
			gap: 30px;
			padding-bottom: 15px;
			.section-title {
				flex: 1;
				text-align: left;
			}
			.elm-photo {
				flex-shrink: 0;
				margin: 0;
			}
		}
		.user-inner-wrap {
			display: flex;
			align-items: center;
			flex: 1;
			gap: 15px;
		}
		.user-actions-wrap {
			padding: 0;
			margin: 0;
			.btn.button-small {
				height: 42px;
				padding: 0 19px;
				font-size: 16px;
			}
		}
	}
	.result-box {
		display: flex;
		flex-direction: row;
		gap: 16px;
		.info-inner-wrap, .total-inner-wrap {
			width: calc(50% - 8px);
			flex-shrink: 0;
			margin: 0;
		}
		.section-title {
			font-size: 28px;
			line-height: 1.35;
			font-weight: 500;
		}
	}
	.form-content-box {
		padding: 30px;
		&.form-main {
			padding: 15px 30px;
		}
		.title-inner-wrap {
			font-size: 20px;
		}
		.section-title {
			font-size: 28px;
		}
		.title-inner {
			font-size: 24px;
		}
		.field-third {
			width: 33.33%;
		}
		textarea.form-input.textarea-form-main {
		}
	}
	.tiles-gallery-box {
		.item-wrap {
			width: 25%;
			&:nth-child(3) {
				display: block !important;
			}
		}
	}
	.tiles-total-box {
		.item-wrap {
			width: 25%;
		}
	}
	.form-box {
		.row-download {
			.btn {
				font-size: 16px;
				padding-top: 11px;
				padding-bottom: 11px;
			}
		}
		.frm-row {
			&:last-child {
				margin-bottom: -15px;
			}
		}
		.frm-select, .frm-field-input {
			margin-bottom: 15px;
		}
		.frm-row-submit {
			padding-top: 15px;
			.field-info {
				margin-bottom: 30px;
			}
			.field-submit {
				text-align: center;
			}
			.btn {
				width: auto;
				min-width: 340px;
			}
		}
	}
	.tiles-box {
		.items-col-3 {
			.item-wrap {
				width: 33.33%;
			}
		}
		&:has(.item-tile-programm) {
			--gapMain: 16px;
			--gapMainHalf: 8px;
		}
	}
	.profile-box {
		.profile-title {
			font-size: 24px;
			margin-bottom: 10px;
			line-height: 1.35;
		}
		.profile-info {
			font-size: 20px;
			line-height: 1.45;
		}
		.btn {
			height: 50px;
		}
	}
	.sections-title-box {
		margin-bottom: 30px;
		font-size: 20px;
		.section-title {
			font-size: 28px;
			margin-bottom: 30px;
		}
		p, .elm-panel-info {
			margin-bottom: 30px;
		}
	}
	.sections-box {
		gap: 15px;
	}
	.section-inner-wrap {
		.section-filter-wrap {
			&.filter-small {
				.frm-field {
					width: auto;
					flex: 1;
				}
				.field-title {
					width: 100%;
					flex: 0 0 100%;
				}
				.field-submit {
					flex: 0 0 auto;
				}
			}
		}
		.slider-tiles .sl-wrap {
			width: 33.33% !important;
		}
		&.section-data {
			.section-title {
				font-size: 42px;
			}
		}
		&.section-form-content {
			padding: 60px;
			border-radius: 64px;
			.section-title-wrap {
				margin-bottom: 30px;
			}
		}
		.action-title-wrap, .section-actions-wrap {
			.button-border {
				height: 54px;
			}
		}
		.section-title-wrap {
			margin-bottom: 15px;
			gap: 15px;
		}
		.section-content-wrap {
			&:has(.section-content-inner) {
				margin: 0 -12px;
				.section-content-inner {
					padding: 0 12px;
				}
			}
		}
		.item-wrap {
			width: 33.33%;
			&.wrap-half {
				width: 50%;
			}
		}
		.section-title {
			&.title-medium {
				font-size: 24px;
				line-height: 1.35;
				.elm-ico {
					height: 32px;
				}
			}
			&.title-main {
				font-size: 28px;
			}
		}
		.section-title-inner {
			font-size: 18px;
		}
		.items-wrap {
			&:has(.item-tile-article) {
				.item-wrap {
					width: 25%;
				}
			}
		}
		.sl-wrap {
			width: 25%;
		}
	}
	.section-col-2-3 {
		width: calc(50% - 7.5px);
	}
	.section-col-3 {
		width: calc(33.33% - 10px);
	}
	@supports (display: grid) {
		.sections-grid {
			display: grid;
			grid-template-columns: 1fr minmax(0, min(50%, 50.6rem));
			&.sections-box {
				gap: 15px 30px;
			}
			.section-inner-wrap {
				padding: 30px;
			}
			.wrap-row-span-2 {
				grid-row: span 2;
			}
		}
	}
}
@media (min-width: 1024px) and (max-width: 1399px) {
	.section-inner-wrap.section-col-2 {
		.item-wrap {
			width: 50%;
			&.wrap-full {
				width: 100%;
			}
		}
	}
}
@media (min-width: 1400px) {
	.matrix-box {
		.tbl-button-prev {
			left: 290px;
			top: 35px;
		}
		.tbl-button-next {
			right: 20px;
			top: 35px;
		}
		.tbl-outer-wrap {
			margin-left: 0;
			padding-left: 0;
		}
		table {
			.col-header {
				width: 271px;
			}
			.col-main {
				min-width: 271px;
			}
		}
		.thead-title {
			font-size: 16px;
			line-height: 20px;
			min-height: 50px;
			padding: 10px 25px;
		}
		.tbl-content {
			padding: 15px 10px;
		}
		.td-element {
			padding: 10px;
		}
		.th-title {
			font-size: 14px;
			padding: 15px;
		}
		tr {
			&:first-child {
				.tbl-content {
					padding-top: 24px;
				}
			}
		}
	}
	.sections-slider-box {
		.slider {
			margin: 0 -15px;
			gap: 30px 0;
			width: calc(100% + 30px);
		}
		.sl-wrap {
			padding: 0 15px;
			width: 33.33% !important;
		}
	}
	.title-inner-box,
	.tiles-slider-box {
		.section-title {
			font-size: 28px;
		}
	}
	.result-box {
		gap: 60px;
		.info-inner-wrap, .total-inner-wrap {
			width: calc(50% - 30px);
		}
		.section-title {
			font-size: 28px;
			&.h1-title {
				font-size: 28px;
			}
		}
		.form-inner-wrap {
			margin-top: 15px;
		}
	}
	.title-box {
		.title-actions-wrap {
			margin-top: 15px;
		}
		.title-user-wrap {
			padding: 0;
		}
	}
	.form-content-box {
		padding: 30px 60px;
		&.form-main {
			padding: 30px 60px;
			.frm-field {
				margin-bottom: 30px;
			}
			.frm-row-submit {
				padding-top: 0;
			}
		}
		.title-inner-wrap {
			margin-bottom: 30px;
			&:has(+.form-inner-wrap) {
				margin-bottom: 15px;
			}
		}
		.frm-row-submit {
			padding-top: 15px;
		}
	}
	.tiles-gallery-box {
		padding: 30px;
		.title-inner-wrap {
			margin-bottom: 30px;
		}
	}
	.tiles-total-box {
		padding: 30px;

	}
	.menu-box {
		font-size: 16px;
		.btn {
			height: 40px;
			min-width: 75px;
		}
	}
	.tiles-box {
		.column-title-wrap {
			padding: 25px;
		}
		.column-title {
			font-size: 28px;
		}
		&:has(.item-tile-programm) {
			--gapMain: 24px;
			--gapMainHalf: 12px;
		}
	}
	.profile-box {
		.profile-title {
			font-size: 28px;
			font-weight: 500;
		}
	}
	.sections-title-box {
		.section-title {
			font-size: 48px;
		}
	}
	.sections-box {
		gap: 30px;
	}
	.section-inner-wrap.section-col-2 {
		.item-wrap {
			width: 100%;
		}
	}
	.section-inner-wrap {
		padding: 30px;
		.sections-slider-box .section-inner-wrap {
			padding: 30px;
		}
		&.section-form-inner {
			padding: 60px;
			&:has(.section-title-wrap:last-child) {
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}
		.section-content-wrap {
			&:has(.section-content-inner) {
				margin: 0 -1.5rem;
				.section-content-inner {
					padding: 0 1.5rem;
				}
			}
		}
		.section-title-wrap {
			gap: 30px;
			&.title-border {
				padding-bottom: 25px;
				&:before {
					left: -30px;
					right: -30px;
				}
			}
			&:has(.search-title-wrap, .action-title-wrap) {
				margin-bottom: 30px;
			}
		}
		.section-title {
			font-size: 24px;
			line-height: 1.35;
			&.title-medium {
				font-size: 28px;
				font-weight: 500;
			}
			&.title-large {
				font-size: 24px;
				font-weight: 500;
			}
			&.title-main {
				font-size: 48px;
			}
		}
		.search-title-wrap {
			width: 76.5%;
		}
		.items-wrap {
			&:has(.item-tile-article) {
				gap: 3rem 0;
				margin: 0 -1.5rem;
			}
			.item-wrap {
				padding: 0 1.5rem;
			}
		}
		.slider-actions-wrap {
			padding: 0 1.5rem;
		}
		.slider-wrap {
			margin: 0 -1.5rem;
		}
		.sl-wrap {
			padding: 0 1.5rem;
		}
		.menu {
			.btn {
				min-height: 60px;
				padding-top: 14px;
				padding-bottom: 14px;
				font-size: 16px;
				font-weight: 600;
				border-radius: var(--mediumRadius);
				.ftext;
			}
		}
	}
	.section-col-2-3 {
		width: calc(33.33% - 20px);
	}
	.section-col-3 {
		width: calc(33.33% - 20px);
	}
	.section-col-2 {
		width: calc(50% - 15px);
	}
}
@media (min-width: 1600px) {
	.tiles-gallery-box {
		.item-wrap {
			width: 20%;
			&:nth-child(4) {
				display: block !important;
			}
		}
	}
}
@media (min-width: 1800px) {
	.tabs-box {
		.actions-wrap {
			flex: 1;
			width: auto;
			justify-content: flex-end;
		}
	}
	.tiles-gallery-box {
		.item-wrap {
			width: 16.66%;
			&:nth-child(5) {
				display: block !important;
			}
		}
	}
	.video-content-box {
		display: flex;
		gap: 15px;
		.items-inner-wrap {
			flex: 1;
			margin: 0;
		}
		.side-inner-wrap {
			width: 50.6rem;
			flex-shrink: 0;
			margin: 0;
		}
		.chat-box {
			height: 100%;
		}
	}
}
@media (min-width: 1900px) {

	.form-box {
		.frm-section-wrap {
			.field-half {
				width: 50%;
			}
			.row-download {
				.field-half {
					.btn {
						font-size: 14px;
						line-height: 22px;
						letter-spacing: -0.01em;
						padding: 0 15px;
					}
				}
			}
		}
	}
	.section-inner-wrap {
		.section-title {
			&.title-large {
				font-size: 28px;

			}
		}
	}
}