/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
.frm-field-input {
	position: relative;
	line-height: 1;
	&:not(.inp-valid) {
		.button-field-clear {
			opacity: 0;
			pointer-events: none;
		}
	}
	&:has(.button-field-clear) {
		.form-input {
			padding-right: 40px;
		}
	}
	.button-field-clear {
		width: 40px;height: 40px;
		position: absolute;
		top: 50%;right: 23px;
		margin: -20px -20px 0 0;
		z-index: 2;
		cursor: pointer;
	}
	.btn-action-ico.ico-clear {
		&:not(:hover) {
			&:before {
				filter: var(--filterAttToLight);
			}
		}
	}
}
.frm-main-chat {
	display: flex;
	position: relative;
	align-items: center;
	height: 49px;
	border-radius: var(--mediumRadius);
	border: 1px solid #E5E5E5;
	line-height: 1;
	.form-input {
		flex: 1;
		width: auto;
		height: 47px;
		border-radius: var(--mediumRadius);
		box-shadow: none;
		background: none;
		border: none;
		padding: 0 10px 0 9px;
		font-size: 16px;
		font-weight: 400;
	}
	.form-actions-wrap {
		display: flex;
		flex-shrink: 0;
	}
	.form-attach-wrap {
		flex-shrink: 0;
	}
	.form-smile-wrap, .form-send-wrap {
		width: 32px;
		flex-shrink: 0;
		position: relative;
		.btn-action-ico {
			width: 32px;height: 32px;
			&:not(:hover) {
				&:before {
					filter: var(--filterAttToLight);
				}
			}
		}
	}
	.form-send-wrap {
		width: 34px;
		padding-left: 2px;
		margin-left: 4px;
		&:before {
			content: "";
			display: block;
			width: 2px;height: 20px;
			position: absolute;
			top: 50%;left: 0;
			margin-top: -10px;
			background: var(--clr-base-light);
		}
	}
}
.frm-field-user {
	text-align: center;
	.elm-photo {
		width: 120px;
		border-radius: var(--mainRadius);
		margin: 0 auto 15px auto;
	}
	.btn {
		height: 46px;
		padding: 0 14px;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: normal;
		.ftext;
	}
}
.frm-content {
	display: none;
	padding-top: 15px;
	animation: fadein ease 0.2s;
	&.active {
		display: block;
	}
}
.frm-field-select {
	.frm-select {
		margin-bottom: 10px;
	}
	.frm-field-input {
		margin: 0;
	}
}
.frm-field-upload-button-ico {
	position: relative;
	width: 32px;height: 32px;
	flex-shrink: 0;
	.button-upload {
		width: 32px;height: 32px;
		&:not(:hover) {
			&:before {
				filter: var(--filterAttToLight);
			}
		}
	}
	input[type="file"] {
		display: none;
	}
	.uploaded-files-container {
		display: none;
	}
}
.frm-field-upload-button {
	position: relative;
	input[type="file"] {
		display: none;
	}
}
.frm-field-upload-small {
	display: block;
	position: relative;
	&:has(.frm-field-file.file-active) {
		.button-upload {
			width: 30px;height: 30px;
			position: absolute;
			bottom: 0;right: 8px;
			margin: 0 -15px 0 0;
			z-index: 3;
			padding: 0;
			min-width: 0;
			&:not(:hover) {
				&:before {
					filter: var(--filterAttToBase);
				}
			}
			.button-ico, .button-title {
				display: none;
			}
			&:before {
				content: "";
				display: block;
				width: 24px;
				height: 24px;
				position: absolute;
				background: url(../img/icons/plus.svg) center no-repeat;
				background-size: 100% auto;
				top: 50%;left: 50%;
				margin: -12px 0 0 -12px;
				transition: all ease 0.2s;
			}
		}
	}
	.uploaded-files-container {
		margin: 0;
		.frm-field {
			margin-bottom: 5px;
			&:last-child {
				margin-bottom: 0;
				.frm-field-file.file-active {
					padding-right: 23px;
				}
			}
		}
		.frm-field-file.file-active {
			display: block;
			position: relative;
			display: block;
			position: relative;
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			height: 30px;
			line-height: 30px;
			font-size: 18px;
			font-weight: 400;
			padding: 0 0 0 39px;
			margin: 0;
			border-radius: 0;
			background: none;
			min-height: 0;
			&:before {
				content: "";
				display: block;
				width: 24px;
				height: 24px;
				position: absolute;
				background: url(../img/icons/attach.svg) center no-repeat;
				background-size: 100% auto;
				top: 50%;left: 0;
				margin: -12px 0 0 0;
				filter: var(--filterAttToBase);
			}
			.file-inner-wrap {
				display: flex;
				align-items: center;
				position: relative;
				height: 30px;
				line-height: 30px;
			}
			.file-name {
				display: block;
				position: relative;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				height: 30px;
				line-height: 30px;;
				max-width: calc(100% - 30px);
				span {
					margin-left: 10px;
					color: var(--clr-base-light);
				}
			}
			.button-file-del {
				width: 30px;height: 30px;
				flex-shrink: 0;
			}
			.btn-action-ico.ico-trash {
				&:before {
					background-image: url(../img/icons/cross-small.svg);
					background-size: 24px auto;
				}
				&:not(:hover) {
					&:before {
						filter: var(--filterAttToBase);
					}
				}
			}
		}
	}
	input[type="file"] {
		display: none;
	}
	.button-upload {
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 30px;
		font-weight: 600;
		color: var(--clr-base);
		gap: 15px;
		.button-ico {
			width: 24px;height: 24px;
			flex-shrink: 0;
			filter: var(--filterAttToBase);
		}
		.button-title {
			display: block;
			position: relative;
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			flex: 1;
			max-width: calc(100% - 39px);
		}
	}
}
.frm-field-upload {
	position: relative;
	border: 1px dashed #E5E5E5;
	padding: 14px 29px;
	border-radius: var(--smallRadius);
	background: var(--clr-bg-white);
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.01em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--clr-base-light);
	input[type="file"] {
		display: none;
	}
	.upload-info {
		margin: 0 auto;
		padding: 0 30px;
	}
	.elm-ico {
		margin: 0 auto 10px auto;
		width: 38px;
		height: 38px;
	}
	.upload-action {
		margin: 15px 0 0 0;
		.btn {
			height: 38px;
			border-radius: var(--mediumRadius);
			padding: 0 24px;
			font-size: 14px;
			line-height: 22px;
			font-weight: bold;
			letter-spacing: -0.01em;
			.ftext;
		}
	}
}
.uploaded-files-container {
	margin: 15px 0 0 0;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.01em;
	.file-active.frm-field-file {
		padding: 15px 26px;
		background: #FAFAFA;
		border-radius: var(--mediumRadius);
		gap: 0;
		min-height: 70px;
		display: flex;
		align-items: center;
		width: 100%;
		.file-inner-wrap {
			align-items: center;
			width: 100%;
			height: auto;
			gap: 0;
		}
		.file-name {
			font-size: 16px;
			line-height: 1.55;
			flex: 1;
			height: auto;
			white-space: normal;
			padding-right: 15px;;
		}
		.elm-ico {
			display: block;
			margin: 0 8px 0 0;
		}
		.elm-sticker {
			display: block;
			margin-right: 12px;
		}
	}
	&:empty {
		display: none;
	}
	.elm-sticker {
		display: none;
		height: 20px;
		line-height: 20px;
		padding: 0 10px;
		font-size: 12px;
		font-weight: 400;
	}
	.frm-field {
		margin-bottom: 5px;
		padding: 0;
		&:has(.file-active) {
			margin-bottom: 12px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	.file-inner-wrap {
		display: flex;
		align-items: center;
		position: relative;
		overflow: hidden;
		gap: 8px;
	}
	.file-name {
		display: block;
		position: relative;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		flex-shrink: 0;
		max-width: calc(100% - 32px);
	}
	.btn-action-ico {
		width: 24px;height: 24px;
	}
	.button-file-del {
		flex-shrink: 0;
	}
	.elm-ico {
		width: 24px;height: 24px;
		flex-shrink: 0;
		display: none;
	}
}
.frm-message-error {
	font-size: 18px;
	line-height: 1.45;
	color: var(--clr-alert);
}
.frm-field-input {
	position: relative;
	line-height: 1;
	&:after, .frm-message-error {
		content: attr(data-error);
		display: none;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: 0;bottom: 0;right: 0;
		width: 100%;
		text-align: right;
		overflow: hidden;
		color: var(--clr-alert);
		font-size: 18px;
		line-height: 1.1;
		z-index: 3;
		pointer-events: none;
		padding: 0 14px;
	}
	&:has(.form-input.inp-error, .form-input:user-invalid) {
		&:after, .frm-message-error {
			display: flex;
		}
	}
	&.field-date {
		.form-input {
			padding-right: 50px;
		}
		&:before {
			display: block;
			left: auto;
			right: 15px;
			margin: -12px 0 0 0;
			background-image: url(../img/icons/calendar.svg);
		}
	}
	.field-date-title {
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;bottom: 0;left: 0;
		width: 35px;
		text-align: right;
		z-index: 2;
		pointer-events: none;
		color: var(--clr-base);
		justify-content: flex-end;
		padding: 0;
		&~.form-input {
			padding-left: 45px;
		}
	}
	&.inp-error {
		.form-input {
			border-color: #f00;
		}
	}
	&.ico-email {
		.form-input {
			padding-left: 40px;;
		}
		&:before {
			display: block;
			background-image: url(../img/icons/email.svg);
		}
	}
	&.ico-phone {
		.form-input {
			padding-left: 40px;;
		}
		&:before {
			display: block;
			background-image: url(../img/icons/phone.svg);
		}
	}
	.frm-ico, .button-ico,
	&:before {
		content: "";
		display: none;
		width: 24px;
		height: 24px;
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		top: 50%;left: 23px;
		margin: -12px 0 0 -12px;
		z-index: 2;
		pointer-events: none;
		filter: var(--filterAttToLight);
	}
	.frm-ico, .button-ico {
		display: block;
	}
}
.frm-main-search {
	position: relative;
	line-height: 1;
	.form-input {
		padding-right: 45px;
	}
	.button-form {
		width: 40px;height: 40px;
		position: absolute;
		top: 50%;right: 27px;
		margin: -20px -20px 0 0;
		z-index: 2;
		&.btn-action-ico {
			margin: -20px -20px 0 0;
		}
		&:not(:hover) {
			&:before {
				filter: var(--filterAttToLight);
			}
		}
	}
}
.frm-row,
.frm-field,
.frm-row-submit {
    display: flex;
    flex-wrap: wrap;
	position: relative;
	line-height: 1;
	margin: 0 -5px;
}
.frm-row,
.frm-row-submit {
	.field-title {
		width: 100%;
		flex-shrink: 0;
		padding: 0 5px;
	}
}
.frm-field {
    display: block;
    width: 100%;
	padding: 0 5px;
	margin: 0 0 10px 0;
}
.field-title {
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	margin: 0 0 5px 0;
	display: block;
}
.frm-select, .frm-select-toggle-all, .frm-select-main {
	position: relative;
	display: block;
	overflow: hidden;
    line-height: 1;
	b {
		font-weight: 600;
	}
	input {
		display: block;
		position: absolute;
		top: 0;left: 0;
		width: 0;height: 0;
		opacity: 0;
		margin: 0;
		padding: 0;
		&:checked {
			&~label {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	label {
		display: block;
		position: relative;
		cursor: pointer;
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
        }
		&:after {
			opacity: 0;
		}
	}
}

.frm-select-toggle-all {
	&.active-left {
		.lbl-title {
			&:after {
				margin-left: 1px;
			}
		}
		input {
			&:checked {
				&~label {
					.lbl-title {
						&:after {
							margin-left: -33px;
						}
					}
				}
			}
		}
	}
	input {
		&:checked {
			&~label {
				.lbl-title {
					&:after {
						background-color: var(--clr-base-light);
						margin-left: 1px;
					}
				}
			}
		}
	}
	label {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		position: relative;
		min-height: 40px;
	}
	.lbl-title {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.45;
		padding: 0 57px 0 0;
		text-align: left;
		display: block;
		width: auto;
		max-width: 50%;
		flex-shrink: 0;
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 74px;height: 40px;
			border-radius: 20px;
			border: 1px solid var(--clr-base-light);
			background-color: #F5F5F5;
			position: absolute;
			top: 50%;left: 100%;
			margin-left: -37px;
			margin-top: -20px;
		}
		&:after {
			content: "";
			display: block;
			width: 32px;height: 32px;
			position: absolute;
			top: 50%;left: 100%;
			background: #16A34A;
			margin-top: -16px;
			margin-left: -33px;
			border-radius: 50%;
			transition: all ease 0.2s;
		}
		&:last-child {
			padding: 0 0 0 57px;
			&:before, &:after {
				display: none;
			}
		}
	}
}
.frm-select {
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	&:has(input:user-invalid) {
		label {
			&:before {
				border-color: #F00;
			}
		}
	}
	input {
		&[type="radio"] {
			&~label {
				&:before {
					border-radius: 50%;
				}
				&:after {
					width: 14px;height: 14px;
					margin: -7px 0 0 -7px;
					border-radius: 50%;
					background: var(--clr-att);
				}
			}
		}
		&:checked {
			&~label {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	label {
		padding: 2px 0 0 39px;
		min-height: 24px;
		&:before, &:after {
			width: 24px;height: 24px;
			top: 12px;left: 12px;
			margin: -12px 0 0 -12px;
			border-radius: 3px;
			border: 1px solid #E5E5E5;
		}
		&:after {
			border-radius: 0;
			border: none;
			background: url(../img/icons/check.svg) center / 24px auto no-repeat;
			opacity: 0;
		}
	}
	a {
		color: inherit;
		&:hover {
			color: var(--clr-att);
		}
	}
}
.frm-select-main {
	line-height: 1;
	position: relative;
	overflow: hidden;
	input {
		&:checked {
			&~label {
				&:before {
					background-color: var(--clr-att);
					border-color: var(--clr-att);
				}
			}
		}
	}
	label {
		border-radius: var(--mediumRadius);
		background: #FAFAFA;
		display: flex;
		align-items: center;
		min-height: 56px;
		padding: 15px 55px 15px 54px;
		line-height: 1.55;
		font-size: 16px;
		color: var(--clr-base);
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 24px;height: 24px;
			border-radius: 50%;
			border: 1px solid var(--clr-base-light);
			transition: all ease 0.2s;
			position: absolute;
			top: 50%;left: 27px;
			margin: -12px 0 0 -12px;
		}
	}
	&:hover {
		label {
			&:before {
				border-color: var(--clr-att);
			}
		}
	}
	.lbl-button {
		display: block;
		width: 40px;height: 40px;
		position: absolute;
		top: 50%;right: 23px;
		margin: -20px -20px 0 0;
		z-index: 2;
	}
	.btn-action-ico.ico-del {
		&:not(:hover) {
			&:before {
				filter: var(--filterAttToLight);
			}
		}
	}
}
body {
	.select-multilines {
		.choices__item--selectable {
			white-space: normal;
			line-height: 1.45;
		}
		.choices__inner {
			height: auto;
			min-height: 54px;
			padding-top: 11px !important;
			padding-bottom: 11px !important;
		}
	}
	.choices {
		font-size: 14px;;
	}
	.choices__inner {
		height: 54px;
		border-radius: var(--mediumRadius);
		border: 1px solid #FAFAFA;
		background: #FAFAFA;
		font-size: 14px;
		padding: 0 40px 0 14px !important;
		color: var(--clr-base);
		font-weight: 500;
		display: flex;
		align-items: center;
	}
	.choices__list--single {
		display: block;
		position: relative;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: 0;
	}
	.choices__placeholder {
		color: var(--clr-base-light);
		opacity: 1;
	}
	.choices__item--selectable {
		display: block;
		position: relative;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.is-open, .is-focused {
		.choices__inner {
			border-radius: var(--mediumRadius);
			border-color: #fafafa;
		}
	}
	.choices__list--dropdown, .choices__list[aria-expanded],
	.choices__list choices__list--dropdown {
		border-radius: var(--smallRadius);
		margin-top: 5px;
		background: #FAFAFA;
		z-index: 30;
	}
	.choices[data-type*=select-one]::after {
		content: "";
		display: block;
		width: 24px;height: 24px;
		border: none;
		background: url(../img/icons/arrow-select.svg) center no-repeat;
		background-size: 24px auto;
		position: absolute;
		top: 50%;right: 27px;
		margin: -12px -12px 0 0;
	}
	.choices[data-type*=select-one].is-open::after {
		margin: -12px -12px 0 0;
		transform: rotate(180deg);
	}
}
@media (max-width: 1023px) {
	.frm-message-error {
		font-size: 14px;
	}
	.frm-field-input {
		&:after, .frm-message-error {
			font-size: 14px;
			max-width: 50%;
			line-height: 1;
		}
	}
}
@media (max-width: 399px) {
	.uploaded-files-container .file-active.frm-field-file {
		padding-left: 15px;
		padding-right: 15px;
		.file-name {
			font-size: 14px;
		}
	}
}
@media (min-width: 768px) {
	.frm-field-select {
		display: flex;
		align-items: center;
		gap: 15px;
		.frm-select {
			margin: 0;
			width: 180px;
			flex-shrink: 0;
			font-weight: 600;
		}
		.frm-field-input {
			width: auto;
			flex: 1;
			max-width: inherit;
			margin: 0;
		}
	}
}
@media (min-width: 1024px) {
	.frm-field-user {
		.elm-photo {
			width: 160px;
		}
		.btn {
			height: 54px;
		}
	}
	.frm-field-upload {
		padding: 30px;
		.upload-info {
			padding: 0;
		}
		.upload-action {
			.btn {
				height: 46px;
			}
		}
	}
	.frm-row, .frm-row-submit {
		margin: 0 -8px 0 -7px;;
		.field-title {
			padding: 0 8px 0 7px;
		}
	}
	.frm-field {
		padding: 0 8px 0 7px;
		margin-bottom: 15px;
	}
	.field-title {
		font-size: 16px;
		line-height: 20px;
		padding: 5px 0;
	}
	.frm-select {
		font-size: 16px;
		line-height: 24px;
		label {
			padding-top: 0;
		}
	}
	body {
		.choices__inner {
			height: 56px;
			font-weight: 400;
			font-size: 18px;
		}
	}
}