
<!-- footer -->
<footer class="footer">
	<!--footer-main-panel-->
	<div class="footer-main-panel">
		<div class="inner-wrap">
			<div class="info-inner-wrap">
				<div class="logo-inner-wrap">
					<a href="" class="logo">
						<div class="logo-image">
							<img src="./img/main/logo.svg" alt="">
						</div>
						<div class="logo-title">Евразийская Академия  надлежащих практик</div>
					</a>
				</div>
				<div class="about-inner-wrap">
					<p>Система управления обучением для&nbsp;компаний и&nbsp;слушателей</p>
				</div>
			</div>
			<div class="menu-inner-wrap">
				<div class="menu-wrap">
					<div class="footer-title">Контакты</div>
					<ul class="menu">
						<li><a href="tel:89017199511">+7 (901) 719-95-11</a></li>
						<li><a href="tel:84956764312">+7 (495) 676-43-12</a></li>
						<li><a href="mailto:info@gxp-academy.org">info@gxp-academy.org</a></li>
						<li>119049, г. Москва, пр-кт Ленинский, д. 9</li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="footer-title">Информация</div>
					<ul class="menu">
						<li><a href="">Сведения об образовательной организации</a></li>
						<li><a href="">Международное сотрудничество</a></li>
						<li><a href="">Доступная среда</a></li>
						<li><a href="">Правила оформления и оплаты услуг</a></li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="footer-title">Правовая информация</div>
					<ul class="menu">
						<li><a href="">Типовые условия договора об оказании платных услуг</a></li>
						<li><a href="">Политика обработки персональных данных</a></li>
						<li><a href="">Пользовательское соглашение</a></li>
						<li>
							<a href="" class="btn button-support">
								<div class="button-ico">
									<img src="./img/icons/question.svg" alt="">
								</div>
								<div class="button-title">Написать в техподдержку</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-bottom-panel-->
	<div class="footer-bottom-panel">
		<div class="inner-wrap">
			<p>2025 г. Все права защищены</p>
		</div>
	</div>
	<!--/footer-bottom-panel-->
</footer>
<!-- /footer -->