
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<div class="logo-image">
					<img src="./img/main/logo.svg" alt="">
				</div>
				<div class="logo-title">Евразийская Академия  надлежащих практик</div>
			</a>
		</div>
		<div class="actions-inner-wrap">
			<div class="action-wrap action-user">
				<div class="elm-panel-user">
					<div class="panel-title-wrap">
						<a href="" class="btn button-link">
							<div class="button-ico">
								<img src="./img/icons/user.svg" alt="">
							</div>
							<div class="button-title">Петровский Иван Иванович</div>
						</a>
					</div>
					<div class="panel-action-wrap">
						<a href="" class="btn">
							<div class="button-title">Выход</div>
						</a>
					</div>
				</div>
			</div>
			<div class="action-wrap action-lang">
				<ul class="menu">
					<li>
						<a href="" class="active">RU</a>
					</li>
					<li>
						<a href="">EN</a>
					</li>
				</ul>
			</div>
			<div class="action-wrap">
				<a href="" class="btn-action-ico ico-glasses"></a>
			</div>
			<div class="action-wrap action-menu">
				<a href="" class="btn-action-ico ico-menu button-active-toggle js-btn-side-toggle"></a>
			</div>
		</div>
	</div>
</header>
<!-- /header -->