<a href="" class="btn-side-popup btn-action-ico ico-close js-btn-side-toggle"></a>
	<!--side-profile-box-->
	<div class="side-profile-box">
		<div class="photo-inner-wrap">
			<div class="elm-photo photo-cover photo-user"></div>
		</div>
		<div class="info-inner-wrap">
			<div class="section-title">Иван Петровский</div>
			<div class="section-info">ivan.petrov@company.com</div>
		</div>
	</div>
	<!--/side-profile-box-->
	<!--side-menu-box-->
	<div class="side-menu-box">
		<ul class="menu">
			<li>
				<a href="" class="btn-menu active">
					<div class="button-ico">
						<img src="./img/icons/menu01.svg" alt="">
					</div>
					<div class="button-title">Главная</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-ico">
						<img src="./img/icons/menu02.svg" alt="">
					</div>
					<div class="button-title">Обучение</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-ico">
						<img src="./img/icons/menu03.svg" alt="">
					</div>
					<div class="button-title">Преподавателю</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-ico">
						<img src="./img/icons/menu04.svg" alt="">
					</div>
					<div class="button-title">Мероприятия</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-ico">
						<img src="./img/icons/menu05.svg" alt="">
					</div>
					<div class="button-title">Эксперту</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-ico">
						<img src="./img/icons/menu06.svg" alt="">
					</div>
					<div class="button-title">Управление обучением</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-ico">
						<img src="./img/icons/menu07.svg" alt="">
					</div>
					<div class="button-title">Компетенции</div>
				</a>
			</li>
		</ul>
	</div>
	<!--/side-menu-box-->